.wrapper-left {
    width: 70%;
    height: 100vh;
    background-color: green;
    background: linear-gradient(to right, #0ef, #00adef);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    position: relative;

}

.wrapper-left img {
    width: 100%;
    height: 100%;
}