.bt-item {
    flex: 0 0 20%;
    background-color: #e7e8ed;
    padding: 15px;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 17px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgb(211, 211, 212);
    }

    /* Khi li được chọn (dùng class active) */
    &.active {
        background-color: rgb(180, 180, 185);
    }
}



.bt {
    border: none;
    margin-left: 10px;
    background-color: transparent;
    /* Loại bỏ màu nền */
    flex: 1;
    /* Giúp button chiếm toàn bộ phần còn lại */
    text-align: left;
    cursor: pointer;
}

.bt-dashbord,
.bt-document,
.bt-store,
.bt-infor {
    color: rgb(39, 85, 252);
    font-weight: bold;
}