.bt-item {
    flex: 0 0 20%; // Không co giãn, cố định 30%
    background-color: #e9ecf0; // Màu nền nhẹ để kiểm tra
    padding: 15px;
    height: 100%;
    background-color: #e7e8ed;
    font-family: 'Arial', sans-serif;

}


.bt {
    border: none;
    margin-left: 10px;
    background-color: #e7e8ed;

    &:hover {
        background-color: rgb(211, 211, 212);
    }



}

li {
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 17px;
    height: 40px;

    &:hover {
        background-color: rgb(211, 211, 212);
    }

    margin-top: 5px;


}

h3 {
    margin-bottom: 20px;
}


.bt-dashbord {
    color: blue;
}

.bt-document {
    color: blue;
}

.bt-store {
    color: blue;
}